#dx-invoice-meta-wrapper section {
  margin-bottom: 10px; }
#dx-invoice-meta-wrapper label {
  min-width: 150px;
  display: block;
  margin-bottom: 5px; }
#dx-invoice-meta-wrapper input, #dx-invoice-meta-wrapper textarea, #dx-invoice-meta-wrapper select {
  min-width: 200px; }

#dx-items-table-meta-wrapper .dx_invoice_number_field {
  width: 40px; }
#dx-items-table-meta-wrapper .dx_invoice_description_field {
  width: 340px; }
#dx-items-table-meta-wrapper .dx_invoice_rate_field {
  width: 60px; }
#dx-items-table-meta-wrapper .dx_invoice_quantity_field {
  width: 40px; }
#dx-items-table-meta-wrapper .dx_invoice_net_field {
  width: 70px; }
#dx-items-table-meta-wrapper .dx_invoice_total_field {
  width: 80px; }

.dx_results_matcher_table td {
  padding-right: 6px; }

 /* Customer CSS */

 #dx-customer-meta-wrapper section {
  margin-bottom: 10px; }
#dx-customer-meta-wrapper label {
  min-width: 150px;
  display: block;
  margin-bottom: 5px; }
#dx-customer-meta-wrapper input, #dx-customer-meta-wrapper textarea, #dx-customer-meta-wrapper select {
  min-width: 200px; }

#dx-items-table-meta-wrapper .dx_customer_number_field {
  width: 40px; }
#dx-items-table-meta-wrapper .dx_customer_description_field {
  width: 340px; }
#dx-items-table-meta-wrapper .dx_customer_rate_field {
  width: 60px; }
#dx-items-table-meta-wrapper .dx_customer_quantity_field {
  width: 40px; }
#dx-items-table-meta-wrapper .dx_customer_net_field {
  width: 70px; }
#dx-items-table-meta-wrapper .dx_customer_total_field {
  width: 80px; }

.dx_results_matcher_table td {
  padding-right: 6px; }
.uploader-text{width:75%;}
.dx-img-uploader{min-width:130px !important;}
  
  